.App {
  text-align: center;
}

#theme-clock {
  pointer-events: none;
  border: 2px solid black;
  border-radius: 100%;
  height: 350px;
  width: 350px;
  position: relative;
  background:url("logo.svg");
  background-position: center;
  background-repeat: no-repeat;

}

.needle.sec {
  transition: transform 0.1s linear; /* Smooth rotation */
}
.needle{
  position: relative;
  background-color: black;
  transform-origin: 0px 0px;
  transition-duration: 1s;
}
.mode{
  position: relative;
  margin:60px;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color:white;
}
button{
  margin-bottom: 170px;
  cursor: pointer;
  z-index: 999;
}

.theme {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.circle{
  border-radius: 10%;
  width: fit-content;
}
.today{
  opacity: 0.7;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  font-weight: 10px;
  position: inherit;
  margin-top: -20px;
}
.timeSet{
  position: relative;
  padding-top: 100px;
  color: black;
}
.hour{
  position: absolute;
  left:50%;
  top:50%;
  width: 100px;
  height: 3px;
}
.min{
  position: absolute;
  left:50%;
  top:50%;;
  width: 140px;
  height: 3px;
}
.sec{
  position: absolute;
  left:50%;
  top:50%;
  width: 155px;
  height: 3px;
  background-color : red;
}
.needle_holder{
  position: absolute;
  width: 20px;
  height: 20px;
  left:48%;
  top:47%;
  border-radius: 100%;
  background-color: black;
}